/* Media Queries */

/* Large Devices (Desktops & Laptops) >1200px */

@media (min-width: 1200px) {
	/* ok */

}

/* Medium Devices (Medium Desktops & Landscape Tablets) */
@media (min-width: 992px) and (max-width: 1199px){

	.navbar {

		background: rgba(0,0,0, .7);
		padding: 0;
	}

	.navbar-nav {

		float: left;
	}
	
	.vesco-nav-wrapper {
		padding: 0;
	}
} 




/* Small Devices (Small Desktops & Portraits Tablets) */
@media (min-width: 768px) and (max-width: 991px){
	 
	/* mobile-menu */

	.navbar {

		background: rgba(0,0,0, .7);
		padding: 0;
	}

	.navbar-nav {

		float: left;
	}
	
	.vesco-nav-wrapper {
		padding: 0;
	}


	/* about section - remove diagonal border */

	#about-bg-diagonal {
		border-left: 0;
		border-top: 0;
		width: 100%;
		height: 350px;
	}
	#about-content-box {
		width: 100%;
		height: 350px;
	}
	
	/* footer */

	#footer-copyrights {
		text-align: center;
	}

}  




/* X-small Devices (Phones) */
@media (max-width: 767px){
	/* mobile-menu */

	.navbar {

		background: rgba(0,0,0, .7);
		padding: 0;
	}
	
	.navbar-nav {

		float: left;
	}
	
    /* projects */
	#witwit:hover img{
	
		cursor: pointer;
		
		
		box-shadow: 0 0 16px balck;
	
	
	}
	.img-box:hover img{
		
		cursor: pointer;
		filter:blur(2px);
		
		box-shadow: 0 0 16px balck;
	
	
	}

	

	/* home */

	#home-heading h3{
		font-size: 24px;

	}

	/* button */
	
	.btn-general {
		padding: 6px 22px 6px 22px;
		font-size: 14px;
	}

	/* about section - remove diagonal border */

	#about-bg-diagonal {
		border-left: 0;
		border-top: 0;
		width: 100%;
		height: 350px;
	}
	#about-content-box {
		width: 100%;
		height: 350px;
	}

	/* work */

	.img-wrapper {
		max-width: 100%;

	}

	/* testimonials */

	.testimonial blockquote {
		padding: 6px 50px;
	}

	.testimonial blockquote:before {
		left: 10px;
		
	}

	.testimonial blockquote:after {
		right: 10px;
		
	}

	.testimonial blockquote p {
		font-size: 14px;
		
	}

	/* footer */

	#footer-copyrights {
		text-align: center;
	}

	#inner-box img{
	    margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	  
    }
}



/* X-small Devices (Phones) */
@media (max-width: 480px){

	
	.service-item-description p{
		padding-left: 100px;
	}
	
	.vesco-nav-wrapper {
		padding: 0;
	}

	.service-item ul {
		padding-inline-start: 0;
	}

	.align1 {
		padding-left: 10%;
		padding-right: 10%;
	}

	#about .content-title h3{
		text-align: center;
		padding-top: 20px;

	}

	#about .content-title-underline {
		margin: 0 auto 30px auto;
	}
  


	 /* projects */
	 .img-box {


		display: inline-block;
		width: 300px;
	   
		margin: 20px;
		z-index: 1;
		position: relative;
	}

	#witwit {


		display: inline-block;
		width: 300px;
		margin: 20px;
		z-index: 1;
		position: relative;
	}

	#inner-box img{
	    margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	  
}

    #home-cover-software {

    height: 100%;
	background-image: url("../img/background-software-phone.JPG");  

	}
	
  /* boxes Projects */

	.img-box h3{
		position: absolute;
		top:45%;
		z-index: 1;
		color: #fff;
		
		text-align:center;
		width:100%;
		margin: 0;
		opacity:1;
	
	}
}

/* X-small Devices (Phones) */
@media (max-width: 320px){

	.vesco-nav-wrapper {
		padding: 0;
	}
	.service-item-icon i {
		width: 58px;
		height: 58px;
		padding:7px;
	
	}

	

	.service-item-title h3 {
		font-size: 17px;

	}

	#about-content-box {
		margin-top: 40px;
	}

		/* testimonials */

	.testimonial blockquote {
		padding: 6px 30px;
	}

	.testimonial blockquote:before {
		left: 7px;
		
	}

	.testimonial blockquote:after {
		right: 7px;
		
	}



	.testimonial img {
		max-width: 80px;
	}

		 /* projects */
		 .img-box {


			display: inline-block;
			width: 200px;
		   
			margin: 20px;
			z-index: 1;
			position: relative;
		}
	
		#witwit {
	
	
			display: inline-block;
			width: 200px;
			margin: 20px;
			z-index: 1;
			position: relative;
		}


		#inner-box img{
			margin-top: 20px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		  
	}
	



} 
